@media (max-width: 380px) {
    .header_content__title {
        font-size: 2rem;
    }

    .destinations__title {
        font-size: 4rem;
    }

    .newsletter_title {
        max-width: 16rem;
    }

    .footer {
        text-align: center;
    }

    .footer__right {
        justify-content: center;
    }

    .footer-list {
        margin-left: 0;
        width: 100%;
    }

}

@media (min-width: 576px) {
    .menu {
        display: none;
    }

}

@media (max-width: 576px) {
    .header_content__title {
        font-size: 5rem;
    }
}

@media (min-width: 768px) {
    .menu--wraper .menu {
        display: flex
    }

    .nav_btn,
    .mobile__nav__menu {
        display: none;
    }

    .newsletter_banner {
        flex-basis: 45%;
    }

    .newsletter_content {
        flex-basis: 55%;
    }

    .newsletter {
        flex-direction: row;
        text-align: left;
        align-items: center;
    }

    .newsletter::before {
        width: auto;
        height: auto;
        top: -5rem;
        left: -40rem;
        background-size: auto;
        background-position: center left;
    }

    @media (min-width: 992px) {

        .nav__links {
            display: block;
        }

        .newsletter_content {
            padding-right: 4rem;
        }

        .newsletter::before {
            top: -10rem;
            left: -30rem;
        }

        .footer-app {
            display: block;
        }

        .footer-app--mobile {
            display: none;
        }

        .scrrool_top-btn {
            left: auto;
        }

        .newsletter::before {
            width: auto;
            height: auto;
            top: -5rem;
            left: -40rem;
            background-size: auto;
            background-position: center left;
        }
    }

}

@media (min-width: 1200px) {
    .header {
        min-height: 80rem;
    }

    .newsletter {
        justify-content: space-between;
    }

    .newsletter_content {
        flex-basis: auto;
        width: 60rem;
    }

    .newsletter__banner {
        flex-basis: auto;
        width: 42rem;
    }

    .footer__wrapper {
        justify-content: space-between;
    }

    .footer-list {
        margin-bottom: 0;
        margin-left: 2rem;
    }

    .newsletter::before {
        top: -15rem;
        left: -15rem;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 137rem;
    }
    .newsletter::before {
        top: -10rem;
        left: -30rem;
    }

}

@media (max-width: 992px) {}
